@model ColaboradorView
@{
    ViewData["Title"] = "Colaborador";
}


@foreach (var andar in Model.Andares.Where(x => x.Secoes.Any()))
{
    <div class="titulo"><a>@andar.Titulo</a></div>
    <hr>
    <br />
    @foreach (var secao in andar.Secoes.Where(x => x.Colaboradores.Any()).OrderBy(x => x.Ordem).ThenBy(x => x.Titulo))
    {
        <div class="grid">
            <div class="cartao funcionario">
                <table>
                    <caption>@secao.Titulo</caption>
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Função</th>
                            <th>Contato</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var colaborador in secao.Colaboradores.OrderBy(x => x.Ordem).ThenBy(x => x.Nome))
                        {
                            <tr>
                                <td><b>@Html.Raw(colaborador.Posto.Titulo)</b> @Html.Raw(colaborador.Nome)</td>
                                <td>@colaborador.Cargo.Titulo</td>
                                <td>
                                    @if (!string.IsNullOrEmpty(colaborador.Email))
                                    {
                                        <a href="mailto:@colaborador.Email"><i class="bi bi-envelope-at"></i></a> @colaborador.Email
                                        <br />
                                    }

                                    @if (!string.IsNullOrEmpty(colaborador.Ramal))
                                    {
                                        <i class="bi bi-telephone"></i> @colaborador.Ramal
                                        <br />
                                    }

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
}

<div class="titulo"><a>Grupos de e-mail</a></div>
<hr>
<br />
<div class="grid">
    <div class="cartao funcionario">
        <table>
            <caption>CBPM</caption>
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Email do grupo</th>
                    <th>Descrição</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Grupos)
                {
                    <tr>
                        <td><i class="bi bi-award" style="color:grey"></i> @item.Titulo</td>
                        <td>
                            <a href="mailto:@item.Email"><i class="bi bi-envelope-at"></i></a> @item.Email
                        </td>
                        <td>@item.Descricao</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
