@model SistemaView
@{
    ViewData["Title"] = "Sistema";
}

<div class="titulo"><a>Serviços, Sistemas e Aplicações</a></div>
<hr>
<br />
<div class="grid">
    @foreach (var sistema in Model.Sistemas)
    {
        @* <a href="@Html.Raw(@sistema.Url)" target="_blank"> *@
        <div class="cartao sistema">
            
            <div class="logo-sistema">@Html.Raw(sistema.TagIcon)</div>
            <div class="titulo-sistema">
                <span>@sistema.Titulo</span>
            </div>
            <div class="descricao-sistema">
                <span>@Html.Raw(@sistema.Descricao)</span>
            </div>
            
                <button class="url-sistema">
                    Clique aqui para acessar
                </button>
        </div>
        @* </a> *@
    }
</div>

